body {
    font-family: Arial, sans-serif;
    width: 1000px;
    margin:  auto;
}
#header {
    height: 100px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
}
#nav {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #CDCDCD;
    background-color: #f5f5f5;
    margin-bottom: 5px;
    clear: both;
}
#section {
    height: 200px;
    width: 250px;
    background-color: red;
    padding: 10px;
    float: left;
    margin-bottom: 5px;
    border: 1px solid #CDCDCD;
}
#article {
    height: 200px;
    width: 500px;
    background-color: blue;
    padding: 10px;
    border: 1px solid #CDCDCD;
    flex-direction: column;
}
#section, #article {
    display: block;
}
