* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body {
    background-color: #f0f0f0;
    padding-top: 80px;
}
h2 {
    color: white;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #0653f3;
    color: white;
    display: flex;
    align-items: center;
    padding-left:  20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
}
#header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #0852ed;
    border-bottom: 1px solid #ccc;
}
#header img {
    margin-right: 10px;
}
.container {
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
    gap: 20px;
}
#menu {
    flex: 3;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
#menu ul {
    list-style: none;
}
#menu li {
    margin-bottom: 10px;
}
menu a {
    text-decoration: none;
    color: #0452f4;
    font-weight: bold;
}
#content {
    flex: 7;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
main {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}